body {
  font-family: sans-serif;
  line-height: 1.4;
}

rule {
  font-size: 2rem;
}

pre {
  background: #f3f3f3;
  padding: 0.5em;
}

.api-rule {
  background: #f3f3ff;
  padding: 0.5em;
  border-left: 5px solid #9999ff;
  
  pre {
    background: transparent;
    padding: 0;
    margin: 0;
  }
}

.api-wrapper {
  display: flex;
  flex-direction: row;
}

.api-nav {
  width: 25%;
  padding-right: 2rem;
}